.card {
  margin: 0;
  min-height: 445px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__comments {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.card__description {
  display: flex;
  max-width: 350px;
  margin: 0;
  font-family: "Poppins", "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: #fcf5e5;
  opacity: 0.4;
}

.card__like:hover {
  opacity: 1;
}

@media screen and (max-width: 763px) {
  .card {
    max-width: 288px;
    min-height: 318px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    font-size: 16px;
  }

  .card__like {
    height: 18px;
    width: 20px;
  }
}
