.header {
  background-color: #ffffff;
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "Times New Roman", serif;
}

.header__icon {
  height: 26px;
  width: 94px;
}
