.menubar {
  background-color: #ffffff;
  display: flex;
  width: 1440px;
  height: 46px;
  justify-content: center;
  align-items: center;
  font-family: "DMMono", "Poppins", "Times New Roman", serif;
}

.menubar__icon {
  height: 26px;
  width: 94px;
}

@media screen and (max-width: 763px) {
  .menubar {
    width: 320px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1330px) {
  .menubar {
    width: 880px;
  }
}

@media screen and (min-width: 764px) and (max-width: 879px) {
  .menubar {
    max-width: 764px;
  }
}
