.page {
  max-width: 1440px;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #fcf5e5;
  overflow: hidden;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 763px) {
  .page {
    max-width: 320px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1330px) {
  .page {
    max-width: 880px;
  }
}

@media screen and (min-width: 764px) and (max-width: 879px) {
  .page {
    max-width: 764px;
  }
}
